// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text textarea {
    width: 98vw;
    height: 60vh;
    margin: 1rem 1rem 0rem 1rem;
}

.form-control {
    border: none;
    padding: 1rem;
}

.title {
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.title input {
    padding-left: .5rem;
}

.btn-large {
    margin-top: .25rem;
}